:root {
  --primary: white;
  --secondary: rgb(106, 166, 235);
  --tertiary: rgb(54, 233, 129);
  --light: rgb(216, 201, 201);
  --black: black;
  --border-radius: 1px;
}

* {
  box-sizing: border-box;
}

main {
  margin: 20px auto;
  width: 94%;
}

.btn {
  font-size: 20px;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: white;
  background-color: var(--light);
}

.btn:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  box-shadow: 2px 2px var(--black);
}

.btn-inline {
  display: inline;
}

.btn-back {
  color: var(--primary);
  background-color: var(--light);
  display: inline-block;
  width: auto;
  margin-top: 20px;
  padding: 15px;
  font-size: 18px;
}

body {
  background-color: var(--primary);
  color: var(--black);
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  font-size: 24px;
}

h1,h2,h3,h5,h6 {
  font-weight: 700;
  margin: 0;
  color: var(--black);
  line-height: 1.25;
}

.link-color {
  color: var(--tertiary);
  padding: 10px;
  margin: 10px
}

.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 18px;
}

.hero {
  background-color: var(--black);
  color: var(--primary);
}

.hero p {
  max-width: 65%;
}

.app-title {
  font-size: 45px;
  background-color: var(--primary);
  color: var(--black);
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light);
}

.list-group {
  padding: 0;
  list-style: none;
}

.list-item {
  margin-bottom: 10px;
  padding: 1.5%;
  border-radius: var(--border-radius);
  background-color: var(--light);
  color: var(--primary);
  text-decoration: none;
}

.list-item:hover {
  background-color: var(--black);
}

.card {
  margin: 0 0 20px 0;
  border: 2px solid var(--black);
  border-radius: var(--border-radius);
}

.card-header {
  color: var(--primary);
  background-color: var(--black);
  padding: 1%;
  border-radius: 2px;
}

.card-body {
  padding: 1%;
}

h4 {
  margin: 0;
  color: var(--light);
  line-height: 1.25;
}

.link {
  color: var(--light);
}

.login-link {
  color: var(--black);
}

.nav {
  padding: 10px;
  line-height: 1.25;
  float: top;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

.form-textarea {
  display: block;
}

.form-label {
  font-size: 18px;
  margin: 0 0 0 5px;
  display: block;
}

.form-input {
  width: 100%;
  display: block;
  margin: 5px 0;
  font-size: 20px;
  border: 2px solid var(--light);
  border-radius: var(--border-radius);
}